<!-- hero fiat -->
<div class="hero container bg-mygray text-white shadow rounded-5 mt-5">
  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img
          src="logo-novo-fiat.svg"
          class="d-block mx-lg-auto img-fluid d-none d-lg-block"
          alt="Bootstrap Themes"
          width="700"
          height="500"
          loading="lazy"
        />
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3 text-white">
          Discover our <br />
          Fiat catalogue<span class="text-primary">.</span>
        </h1>
        <p class="lead fw-semibold">
          Let yourself be amazed by all the advantages on the hybrid and thermal
          range and enjoy the experience of being a Fiat customer.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- grid card -->
<div class="container mt-5">
  <h2 class="border-bottom pb-3 mb-4 text-white">Fiat</h2>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <!-- card auto -->
    <div class="col" *ngFor="let car of carArr">
      <div class="card position-relative h-100 text-bg-secondary">
        <img
          src="{{ car.modelImage }}"
          class="card-img-top object-fit-cover"
          height="250"
        />
        <img
          src="{{ car.brandLogo }}"
          width="auto"
          height="30"
          class="position-absolute m-3"
        />
        <div class="card-body pb-1">
          <h5 class="card-title">{{ car.brand }}</h5>
          <p class="card-text mb-2">{{ car.model }}, Anno: {{ car.year }}</p>
          <p class="card-title fw-bold">
            {{ car.price | currency : "EUR" }}
          </p>
        </div>
        <div
          class="card-footer bg-danger d-flex justify-content-between align-items-center"
          [ngClass]="{ 'bg-primary-subtle': car.available }"
        >
          <small
            class="fw-bold"
            [ngClass]="car.available ? 'text-dark' : 'text-white'"
            >{{ car.available ? "Disponibile" : "Non Disponibile" }}</small
          >
          <a
            [routerLink]="['/', car.brand.toLowerCase()]"
            class="btn py-1"
            [ngClass]="car.available ? 'btn-primary' : 'btn-secondary'"
            >{{ car.available ? "buy" : "Explore!" }}</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
