<!-- <header
  class="app-header container-fluid bg-mygray border-bottom border-dark"
></header> -->
<div class="container">
  <nav class="navbar navbar-expand">
    <div class="container-fluid">
      <div class="container-fluid">
        <a class="navbar-brand text-white" routerLink="/">
          <img
            src="Grey and Black Car Rental Service Logo.png"
            alt="Logo"
            width="auto"
            height="60"
            class="d-inline-block align-text-top"
          />
        </a>
      </div>
      <div>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a
              class="nav-link fw-bold"
              routerLink="/"
              routerLinkActive="text-white"
              [routerLinkActiveOptions]="{ exact: true }"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link fw-semibold"
              routerLink="/fiat"
              routerLinkActive="text-white"
              >Fiat</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link fw-semibold"
              routerLink="/ford"
              routerLinkActive="text-white"
              >Ford</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link fw-semibold"
              routerLink="/audi"
              routerLinkActive="text-white"
              >Audi</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
