<div class="hero container-fluid bg-mygray text-white shadow">
  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img
          src="car-herooo.png"
          class="d-block mx-lg-auto img-fluid d-none d-lg-block"
          alt="Bootstrap Themes"
          width="700"
          height="500"
          loading="lazy"
        />
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3 text-white">
          Find the Best <br />
          Auto for 2024<span class="text-primary">.</span>
        </h1>
        <p class="lead fw-semibold">
          Compare and discover the best Auto by what matters most to you.
        </p>
      </div>
    </div>
  </div>
</div>
