<!-- our brands -->
<div class="brands container px-2 mt-5" id="custom-cards">
  <h2 class="pb-2 border-bottom text-white pb-3">Our Brands</h2>
  <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
    <div class="col">
      <a routerLink="/fiat">
        <div
          class="card position-static card-cover h-100 object-fit-contain border text-bg-dark rounded-4 shadow-lg custom-background"
          style="
            background-image: url('https://www.fiat.de/content/dam/cps/fiat/de-de/Promotions/500-elektro-125-jahre/v3/790x444.png');
          "
        >
          <div
            class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1 justify-content-between"
          >
            <img src="logo-novo-fiat.svg" alt="" />
            <ul class="d-flex list-unstyled mt-5 align-items-center">
              <li class="me-auto">
                <img
                  src="fiat-icon.svg"
                  alt="Bootstrap"
                  width="auto"
                  height="25"
                  class=""
                />
              </li>
              <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em">
                  <use xlink:href="#geo-fill"></use>
                </svg>
                <p class="fw-semibold fs-4 mb-0" routerLink="/">
                  find out more!
                </p>
              </li>
            </ul>
          </div>
        </div>
      </a>
    </div>

    <div class="col">
      <a routerLink="/ford">
        <div
          class="card position-static card-cover h-100 object-fit-contain border text-bg-dark rounded-4 shadow-lg custom-background"
          style="background-image: url('ford.png')"
        >
          <div
            class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1 justify-content-between"
          >
            <img src="fordLogo.png" alt="" />
            <ul class="d-flex list-unstyled mt-5 align-items-center">
              <li class="me-auto">
                <img
                  src="ford-icon.png"
                  alt="Bootstrap"
                  width="auto"
                  height="25"
                />
              </li>
              <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em">
                  <use xlink:href="#geo-fill"></use>
                </svg>
                <p class="fw-semibold fs-4 mb-0">find out more!</p>
              </li>
            </ul>
          </div>
        </div>
      </a>
    </div>

    <div class="col">
      <a routerLink="/audi">
        <div
          class="card position-static card-cover h-100 object-fit-contain border text-bg-dark rounded-4 shadow-lg custom-background"
          style="
            background-image: url('https://cdn.drivek.com/configurator-imgs/cars/it/Original/AUDI/RS-7-SPORTBACK/38943_HATCHBACK-5-DOORS/audi-rs-7-sportback-2019.jpg');
          "
        >
          <div
            class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1 justify-content-between"
          >
            <img src="audi-14.svg" alt="" />
            <ul class="d-flex list-unstyled mt-5 align-items-center">
              <li class="me-auto">
                <img
                  src="audi-icon.svg"
                  alt="Bootstrap"
                  width="auto"
                  height="40"
                />
              </li>
              <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em">
                  <use xlink:href="#geo-fill"></use>
                </svg>
                <p class="fw-semibold fs-4 mb-0">find out more!</p>
              </li>
            </ul>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
